.service-slide {
    // width: 100%;
    height: 720px;
    position: relative;
    overflow: hidden;
}
img {
    object-fit: cover;
}
.owl-dots {
    position: absolute;
    top: 64px;
    left: 84px;
    z-index: 2;
}
.owl-dot {
    display: block;
    width: 27.5em;
    height: 4.375em;
    color: #efffff;
    background-color: #31a9f9;
    margin: 30px 10px;
    font-family: "Exo2Regular";
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 0 1em;
}
.owl-dot.active {
    color: #b81818;
}
.link-navi {
    color: inherit;
    text-decoration: none;
}